.banner {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
}

.p {
  font-weight: bold;
  line-height: 1.3rem;;
}

.image {
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 900px;
  padding: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.btn_container {
    display: flex;
    flex-direction: column;
}

.btn, .phone {
    width: 270px;
    margin: 20px auto;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #db6d05;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid white;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #b35702;
}

.phone {
    background-color: transparent;
}

.phone:hover {
    color: #0b0835;
    background: white;
}

@media (max-width: 840px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 2rem
  }
  .p {
    font-size: 0.9rem;     
  }
}