.page {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("/contact.png");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}
