.page {
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("/contact.png");
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

#form {
  scroll-margin-top: 100px;
  background-color: rgb(255, 255, 255); /* mettre la hauteur de ton header */
}
