.cardsContainer {   
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0b0835;
}

.card {
   background: linear-gradient(135deg, #c6c4ec, #ffffff);

    margin: 20px auto;
    border-radius: 20px;
    max-width: 500px;  
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}


.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px; 
}

.h2 {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: var(--orange);
}

.h3 {
    margin: 20px;
    color: var(--orange);
    text-align: center;
}

.subtitle {
    color: black;
    font-weight: bold;
    text-align: center;
}

.description {
    color: black;
    padding: 20px;
    text-align: center;
    line-height: 1.5rem;
    min-height: 130px;
}

.btn {
    margin: 30px auto;
    color: var(--orange);
    font-weight: bold;
    text-decoration: none;
    border: 1px solid var(--orange);
    padding: 12px;
    border-radius: 16px;
    transition: .4s ease-in-out
}

.btn:hover {
    color: white;
    background-color: var(--orange);
}