.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 500px;
  width: 90%;
  padding-bottom: 50px;
}

.mapIframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
