.zone {
    padding: 20px;
    background-color: white;
    margin-bottom: 50px;
}

.h3 {
    color: black;;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li {
    list-style: none;
    margin: 5px;
    font-weight: bold;
    color: var(--orange)
}