.footer {
    display: flex;
    flex-direction: column;
    background-color: #0b0835;
}

.logo {
    margin: 20px auto;
}

.p {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.mentions {
    color: white;
    text-decoration: none;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.drop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li {
    color: white;
    margin: 10px;
}

.codev {
    color: white;
    text-decoration: none;
    margin: 20px;
    width: 100%;
    text-align: center
}

.span:hover {
    text-decoration: underline;
}

.span {
    transition: .4s ease-in-out;
    font-style: italic;
    color: var(--orange)
}