.background {
    background-color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 4rem 1rem;
  background-color: white;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
  padding: 20px;
 text-align: center;
  background-color: var(--orange)
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: black;
}

.h2 {
  margin: 3rem 0;
  color: var(--blue);
  text-decoration: underline;
}

.faqItem {
  margin-bottom: 1.5rem;
}

.h3 {
  color: rgb(187, 35, 35);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.p {
    color: rgb(3, 48, 3)
}
